.u-section-1 .u-sheet-1 {
  min-height: 211px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6px);
  grid-template-columns: repeat(3, calc(33.3333% - 6px));
  min-height: 138px;
  grid-gap: 9px;
}

.u-section-1 .u-list-item-1 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-1 {
  margin: 1px -18px 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-2 {
  margin: 1px -18px 0;
}

.u-section-1 .u-list-item-3 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-3 {
  margin: 1px -18px 0;
}

.u-section-1 .u-list-item-4 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-4 {
  margin: 1px -18px 0;
}

.u-section-1 .u-list-item-5 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-5 {
  margin: 1px -18px 0;
}

.u-section-1 .u-list-item-6 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-6 {
  margin: 1px -18px 0;
}

.u-section-1 .u-list-item-7 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-7 {
  margin: 1px -18px 0;
}

.u-section-1 .u-list-item-8 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-8 {
  margin: 1px -18px 0;
}

.u-section-1 .u-list-item-9 {
  --radius: 30px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px 0 28px;
}

.u-section-1 .u-text-9 {
  margin: 1px -18px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6px));
    min-height: 117px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-3 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-5 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-6 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-7 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-8 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-9 {
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 4.5px);
    grid-template-columns: repeat(2, calc(50% - 4.5px));
    min-height: 227px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 152px;
}

.u-section-2 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6px);
  grid-template-columns: repeat(3, calc(33.3333% - 6px));
  min-height: 149px;
  grid-gap: 9px;
}

.u-section-2 .u-list-item-1 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  margin: 1px -1px 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 1px -1px 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 1px -1px 0;
}

.u-section-2 .u-list-item-4 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-text-4 {
  margin: 1px -1px 0;
}

.u-section-2 .u-list-item-5 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-text-5 {
  margin: 1px -1px 0;
}

.u-section-2 .u-list-item-6 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-2 .u-text-6 {
  margin: 1px -1px 0;
}

.u-section-2 .u-list-item-7 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-2 .u-text-7 {
  margin: 1px -1px 0;
}

.u-section-2 .u-list-item-8 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-2 .u-text-8 {
  margin: 1px -1px 0;
}

.u-section-2 .u-list-item-9 {
  --radius: 30px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-2 .u-text-9 {
  margin: 1px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6px));
    min-height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 4.5px);
    grid-template-columns: repeat(2, calc(50% - 4.5px));
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 152px;
}

.u-section-3 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6px);
  grid-template-columns: repeat(3, calc(33.3333% - 6px));
  min-height: 149px;
  grid-gap: 9px;
}

.u-section-3 .u-list-item-1 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  margin: 1px -1px 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-text-2 {
  margin: 1px -1px 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-text-3 {
  margin: 1px -1px 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-3 .u-text-4 {
  margin: 1px -1px 0;
}

.u-section-3 .u-list-item-5 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-3 .u-text-5 {
  margin: 1px -1px 0;
}

.u-section-3 .u-list-item-6 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-3 .u-text-6 {
  margin: 1px -1px 0;
}

.u-section-3 .u-list-item-7 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-3 .u-text-7 {
  margin: 1px -1px 0;
}

.u-section-3 .u-list-item-8 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-3 .u-text-8 {
  margin: 1px -1px 0;
}

.u-section-3 .u-list-item-9 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-3 .u-text-9 {
  margin: 1px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6px));
    min-height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 4.5px);
    grid-template-columns: repeat(2, calc(50% - 4.5px));
    min-height: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}
.responsive {
  width: 100%;
  height: auto;